.modal-header-adjust{
    border-bottom: none;
}
.title-modal-adjust{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    color: #2F3133;
}
.type-list{
    display: grid;
    justify-items: center;
}

.types-of-pokemon-modal{
    float: none;
    margin: 0.163rem 0.625rem 0 0;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 150%;
    padding: 8px;
    text-align: center;
    top: auto;
    width: 40%;
}
.text-container{
    display: flex;
    justify-content: center;
    position: relative;
}
.my-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
.id-modal{
    display: grid;
    position: relative;
    top: 0.4rem;
    left: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 150%;
    color: #9fa4a9e0;
}
.modal-img{
    top: 10rem;
    left: auto;
    width: 17rem;
}
.info-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10rem;
  }
.char-list{
    position: absolute;
    right: 4rem;
}
.modal-ul{
    display: grid;
    align-content: space-around;
    justify-items: center;
}
.modal-li{
    display: grid;
    text-align: center;
    padding: 0 0 2rem 0;
}

.modal .modal-dialog .modal-content .modal-body .info-container .char-list .modal-ul .modal-li span{
    display: block;
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: -0.01em;
    color: #7A7D80;
    margin-bottom: 0.4rem;
}

.modal .modal-dialog .modal-content .modal-body .info-container .char-list .modal-ul .modal-li strong{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: -0.01em;
    color: #2F3133;
}

.btn-modal{
    border: none;
    margin-top: 0.5rem;
    font-weight: 600;
}
.dropdown-toggle::after{
    display: none;
}
.btn-ul{
    font-weight: 600;
    border: none;
    min-width: 7.2rem;
    -webkit-box-shadow: 0px 12px 40px -5px rgb(90 96 100 / 30%);
    box-shadow: 0px 12px 40px -5px rgb(90 96 100 / 30%);
}
.btn-li{
    background-color: #FFF;
    font-weight: 600;
    text-align: center;
}
.weakness{
    position: absolute;
    left: 4rem;
    display: grid;
    justify-items: center;
}
.weak-ul{
    display: grid;
    justify-content: start;
}
.weak-li{
    text-align: center;
    position: relative;
    margin: 0.8rem 0 0 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 150%;
    min-width: 7rem;
    right: 0.9rem;
}

@media (max-width: 900px)  {
    .modal-body{
        display: grid;
        justify-content: space-around;
    }
    .info-container{
        align-items: flex-end;
    }
    .modal-ul {
        display: flex;
        justify-items: center;
        align-items: flex-start;
        right: 0.9rem;
        position: relative;
    }
    .char-list {
        position: absolute;
        right: auto;
        top: 3rem;
    }
    .modal-li {
        text-align: center;
        padding: 0 1rem 2rem 1rem;
    }
    .types-of-pokemon-modal{
        width: 25%;
    }
    .type-list{
        display: flex;
        justify-content: center;
    }  
    .weakness{
        left: auto;
        bottom: 1rem;
        right: none;
    }
    .weak-ul {
        display: flex;
        justify-content: center;
    }
    .weak-li {
        min-width: 4rem;
        font-size: 1rem;
    }
}