body{
    background-color: #FEFEFE;
}
html {
    scroll-behavior: smooth;
  }

.title{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px 0px -13px 0px;
}

.align-header{
    margin: auto;
    position: absolute;
    bottom: 38rem;   
}
.custom-header{
    background-image: url("../img/Sem\ título_auto_x2.jpg");
    height: 61rem;
    position: relative;
    background-position: left;
}
.img-adjust{
    margin: auto;
    width: 50.063rem;
    position: relative;
    right: 28rem;
    top: 4rem;
}
.link-adjust{
    margin: auto;
    position: relative;
    text-decoration: none;
    right: 28rem;
    top: 5rem;
}
.ancor-adjust{
    display: flex;
    padding: 1.3rem;
    border-radius: 40px;
    border: 1px solid #acb8da;
    background-color: rgb(219, 229, 245, 0.5);
    color: #3F5DB3;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.ancor-adjust:hover{
    background-color: rgb(219, 229, 245, 1);
  }
  
.custom-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}


.info-pokemon{
    position: relative;
    width: 19rem;
    height: 16rem;
    margin: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #ffffff;
    border: 0;
    -webkit-box-shadow: 0px 10px 51px -5px rgb(183 189 193 / 30%);
    box-shadow: 0px 10px 51px -5px rgb(183 189 193 / 30%);
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-animation: fadeIn 0.3s forwards;
    animation: fadeIn 0.3s forwards;
}
.info-pokemon:hover{
    -webkit-box-shadow: 0px 12px 40px -5px rgb(90 96 100 / 30%);
    box-shadow: 0px 12px 40px -5px rgb(90 96 100 / 30%);
    bottom: 2px;
}
.name-of-pokemon{
    display: flex;
    position: absolute;
    top: 13.425rem;
    left: 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 150%;
    color: #2F3133;

}

.pokemon-id{
    display: grid;
    position: relative;
    top: 12.225rem;
    left: 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 150%;
    color: #9fa4a9e0;
    align-content: stretch;
    justify-content: start;
  }

  .types-of-pokemon{
    float: right;
    margin: 1.063rem 0.625rem 0 0;
    position: relative;
    top: 10rem;
    left: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 150%;
    padding: 5px;
  }

.pokeImg{
    width: 10rem;
    position: absolute;
    top: 1.875rem;
    left: 4.5rem;
}

  #nextBtn{
    display: flex;
    margin: 20px auto 20px auto;
    padding: 15px;
    border-radius: 30px;
    background-color: #EBEEF7;
    color: #3F5DB3;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 150%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  #nextBtn:hover{
    background-color:#3F5DB3;
    color: #FFF;
  }
  
.apresentation{
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
}

.get-pokemon{
    width: 30%;
    margin: 1rem auto;
}
.get-pokemon input{
    border-radius: 3rem;
    text-indent: 1rem;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #7f93c9;
}

.get-pokemon input:focus{
    border-color: none;
    box-shadow: none;

}
.get-pokemon label{
    padding-left: 2rem;
    font-size: 1.1rem;
    color: #7f93c9;
}
.form-control:focus {
    border-color: none; 
} 

.invisivel{
    display: none;
}
@media (max-width: 900px)  {
    .custom-row{
        grid-template-columns: repeat(1, 1fr);
    }
    .img-adjust{
        margin: auto 10.625rem auto auto;
    }
    .get-pokemon{
        width: 70%;
    }
    .align-header{
        width: 25.063rem;
        bottom: auto;
    }
    .img-adjust {
        margin: auto;
        width: 25.063rem;
        position: relative;
        right: 0rem;
        bottom: 10rem;
    }
    .custom-header{
        height: 40rem;
    }
    .link-adjust{
        right: auto;
        top: auto;
    }
    .ancor-adjust {
        font-size: 1.6rem;
        width: 25.1rem;
        border: none;
    }
}
