body{
    background-color: aquamarine;
}

.title{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px 0px -13px 0px;
}

.align-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 40%;     
}